h1{
  text-align: center;
}

.book-grid{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
}

.delete-button{
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #e22d2a;
}

.selected-book-heading{
  font-weight: bold;
}

.author-name{
  font-weight: normal;
}